*{
    margin: 0;
    padding: 0;
    font-family:'Dosis', sans-serif;
}
body{
    background-color: #FEFAE0;
}

.title-container{
    margin: 3.5rem;
    text-align: center;
}
.title{
    margin-bottom: 1rem;
    color: #8f5f2e;
    font-size: 3.5rem;
    text-transform:uppercase;
    letter-spacing: 0.1rem;

}
.title-paragraf{
    margin-bottom: 1.5rem;
    color: #D4A373;
    font-size: 1.5rem;
}
.btn{
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.2rem;
    border: none;
    background-color: #D4A373;;
    color: #7F5539;
}
.btn i{
    margin-left: 0.5rem;
}
.btn:hover{
    cursor: pointer;
}


/* Meal Description
------------------------------------ */
.meal-flex{
    display: flex;
    justify-content: center;
 }
 .meal-body{
    margin:0 2rem;
    margin-bottom: 1rem;
}

.meal{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #7F5539;
   width: 40rem;
   background-color: #D4A373;
   padding: 1rem 0;
   border-radius: 0.3rem;
   margin-left: 2rem;
   margin-right: 2rem;
}
.media{
    display: flex;
    justify-content: center;
}
img{
width: 42rem;
   height: 32rem;
}

li{
    list-style: none;
}

.meal-instructions,.recipe-video{
    margin: 1rem 0;
    color: #7F5539;
    font-size: 1.7rem;
}
.cooking-instructions p,li{
    color: #8f5f2e;
    font-size: 1.1rem;
    }
.video{
   display: flex;
   justify-content: center;
}
iframe{
    width: 42rem;
    height: 20rem;
}

/* Media Query
______________________ */


@media (max-width: 350px){
    .title{
        font-size: 2.5rem;
    }
    .meal-body{
        margin:0 0.5rem;
    }
    img{
        width: 18rem!important;
           height: 10rem;
        }
        iframe{
            width: 18rem!important;
            height: 17rem!important;
        }
}
@media (max-width: 282px){
    .title{
        font-size: 2.5rem;
    }
    .meal-body{
        margin:0 0.5rem;
    }
        iframe{
            width: 15.5rem!important;
            height: 10rem;
        }
        img{
            width: 15.5rem!important;
               height: 5rem;
            }
}
@media (max-width: 242px){
    .title{
        font-size: 2rem;
    }
    .title-paragraf{
        font-size: 1rem;
    }
    .title-container{
        margin: 1rem;
        text-align: center;
    }
    .meal{
       font-size: 0.7rem;
       margin-left: 1rem;
       margin-right: 1rem;
    }
    .meal-body{
        margin:0 0.5rem;
    }
    img{
        width: 13rem!important;
           height: 10rem;
        }
        iframe{
            width: 13rem!important;
            height: 10rem!important;
        }
}
@media (max-width: 390px){
    .meal-body{
        margin:0 1rem;
    }
    .meal{
        margin-left: 1rem;
   margin-right: 1rem;
    }
    img{
        width: 22rem;
           height: 15rem;
        }
        iframe{
            width: 22rem;
            height: 16rem!important;
        }
}
@media (max-width: 572px){
    img{
        width: 30rem;
           height: 20rem;
        }
}


@media (min-width: 768px){
    .meal-body{
      display: flex;
    }
 
     .meal{
       width: 50rem;
    }
  
    img{
        width: 28rem!important;
        height: 28rem!important;
    }
   
    .meal-description{
        margin-left: 1rem;
    }
    .ingredients{
    margin-bottom: 5rem;
    }
    .meal-instructions,.recipe-video{
        margin-top: 0;
        margin-bottom: 1rem;
    }
   
    .cooking-instructions p,li{
    font-size: 1.1rem;
    }
    .video{
        margin-top: 2rem;
    }
    iframe{
        width: 28rem;
        height: 20rem;
    }
    .recipe-video{
        margin-top: 3rem;
     }
}

@media (min-width: 1040px){
    
    .meal-description{
        margin-left: 2rem;
    }
    .cooking-instructions p,li{
        font-size: 1.2rem;
        }
        .meal-instructions,.recipe-video{
        font-size: 2rem;
    }
   
     .meal-body{
         margin:0 2.5rem;
     }
     .recipe-video{
        margin-top: 3rem;
     }
     
    img{
        height: 36rem;
    }
    iframe{
        width: 36rem!important;
        height: 20rem!important;
    }
    
}

@media (min-width: 1150px) {
     img{
        width: 40rem!important;
         height: 45rem!important;
     }
     iframe{
         width: 40rem!important;
         height: 22rem!important;
     }
  }

  /* 384 320 240 */